.login-block {
	position: absolute;
	background: #fff;
	transition: all 1s;
	@media (min-width: 768px) {
		width: 546px;
		height: 431px;
		padding: 50px;
	}
	@media (max-width: 768px) {
		width: 333px;
		height: 347px;
		padding: 20px;
	}
	&__title {
		color: #000;
		font-family: "Prata";
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
		@media (min-width: 768px) {
			font-size: 40px;
			margin-bottom: 40px;
		}
		@media (max-width: 768px) {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}

	&__login,
	&__password {
		color: var(--Black, #000);
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		border: 1px solid rgba(0, 0, 0, 0.3);
		margin-bottom: 20px;
		font-size: 16px;
		height: 48px;
		@media (min-width: 768px) {
			width: 446px;
			padding-left: 32px;
		}
		@media (max-width: 768px) {
			width: 293px;
			padding-left: 20px;
		}
	}

	&__remember-me-wrapper {
		@media (max-width: 768px) {
			margin-bottom: 40px;
		}
	}

	&__remember-me-label {
		display: flex;
		align-items: center;
		position: relative;
		color: var(--Black, #000);
		text-align: center;
		font-family: "Poppins";
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		@media (min-width: 768px) {
			margin-bottom: 33px;
		}
		@media (max-width: 768px) {
			margin-bottom: 0;
		}
	}

	&__remember-me {
		border: 1px solid #b3b3b3;
		background: #fff;
		@media (min-width: 768px) {
			margin-right: 10px;
			width: 13px;
			height: 13px;
		}
		@media (max-width: 768px) {
			margin-right: 12px;
			width: 20px;
			height: 20px;
		}
	}

	&__button {
		position: absolute;
		text-align: center;
		font-family: "Poppins";
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		border: 1px solid var(--Black, #000);
		background: var(--Black, #000);
		color: var(--White, #fff);
		@media (min-width: 768px) {
			right: 50px;
			width: 132px;
			height: 48px;
			font-size: 16px;
		}
		@media (max-width: 768px) {
			right: 20px;
			width: 111px;
			height: 40px;
			font-size: 13px;
		}
	}
}
