@media (min-width: 768px) {
	.layout-login {
		width: 100vw;
		max-width: 100vw;
		overflow: hidden;
		min-height: 100vh;
	}
}
@media (max-width: 768px) {
	.layout-login {
		width: 100vw;
		max-width: 100vw;
		overflow: hidden;
		min-height: 100vh;
	}
}
